<div class="container">

  <h1 class="header center teal-text">Recipe Box</h1>
  <div class="row center">
    <a class="btn" href="/tags">Tags</a>
    <a class="btn" href="/recipes">Recipes</a>
    <a class="btn" href="/ingredients">Ingredients</a>
  </div>
</div>
