<h2>Ingredients</h2>

<% if @ingredients.any?() %>
  <% @ingredients.each() do |ingredient| %>
    <div class="row">
      <h3><a href="/ingredients/<%= ingredient.id() %>"><%= ingredient.name() %></a></h3>
    </div>
  <% end %>
<% end %>

<h3>Add a New Ingredient</h3>
<form action="/ingredients" method="post">
  <div class="input-field">
    <input type="text" name="name" id="name">
    <label for="name">Name:</label>
  </div>
  <div class="input-field">
    <input type="text" name="quantity" id="quantity">
    <label for="quantity">Quantity:</label>
  </div>
  <div class="input-field">
    <input type="text" name="portion_size" id="portion_size">
    <label for="portion_size">Portion Size:</label>
  </div>

  <button class="btn" type="submit">Create</button>
</form>
