<h2>Tags</h2>

<% if @tags.any?() %>
  <% @tags.each() do |tag| %>
    <div class="row">
      <h3><a href="/tags/<%= tag.id() %>"><%= tag.name() %></a></h3>
    </div>
  <% end %>
<% end %>

<h3>Add a New Tag</h3>
<form action="/tags" method="post">
  <div class="input-field">
    <input type="text" name="name" id="name">
    <label for="name">Name of Tag:</label>
  </div>

  <button class="btn" type="submit">Create</button>
</form>
